<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Crossword puzzle TDD exercise.">

    <title>{% block title %}Crossword Exercise{% endblock %}</title>
  </head>

  <body style="text-align: center;">
    <main role="main" class="container">
      <h1>Crossword Exercise</h1>
      <br/>
      <br/>
      {% block content %}
      <form action="/" method="POST">
        <label for="answerInput">Answer:</label>
        <input type="text" id="answerInput" name="answerInput" value="" />
        <br/>
        <br/>
        <input type="submit" value="Submit Answer" />
      </form>
      {% endblock %}
    </main>
  </body>
</html>
